
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(142deg, #0F2, #29B39A);
}

img {
    position: absolute;
    top: 2%;
}
.containers {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
}

.title {
    font-size: 25px;
    font-weight: 500;
}


.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;

}


.btn-outline-success {
    color: #43BB53;
    border-color: #0F2;
    width: 200px;
    margin-left: 200px;
    margin-top: 5px;
}
.mb-3 {

    display: flow-root;
    padding-top: 20px;

}

.message .success {
    padding-left: 180px;
    margin-top: 5px;
    color: limegreen;
    position: absolute;
    animation: buttons  .3s linear;
    display: none;
}


.message .danger {
    padding-left: 220px;
    margin-top: 5px;
    color: red;
    position: absolute;
    animation: buttons  .3s linear;
    display: none;
}